<form>
    <div>
        <h3>Component Feeder</h1>
        <h4>Feeder-Next Location</h4>
        <div class="Row">
            <div class="Column">
                X&nbsp;
                <input type="number" name="feederNextX" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.feeder_next_X">
            </div>
            <div class="Column">
                Y&nbsp;
                <input type="number" name="feederNextY" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.feeder_next_Y">
            </div>
            <div class="Column">
                Z1&nbsp;
                <input type="number" name="feederNextZ" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.feeder_next_Z">
            </div>  
            <div class="Column">
                <button class="btn_basic" id="getFeederLoc">Get Feeder 1 Location</button>
            </div>
        </div>
        <h4>Feeder-Pick Location</h4>
        <div class="Row">
            <div class="Column">
                X&nbsp;
                <input type="number" name="feederPickX" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.feeder_pick_X">
            </div>
            <div class="Column">
                Y&nbsp;
                <input type="number" name="feederPickY" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.feeder_pick_Y">
            </div>
            <div class="Column">
                Z2&nbsp;
                <input type="number" name="feederPickZ" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.feeder_pick_Z">
            </div>
            <div class="Column">
                <button class="btn_basic" id="getPickLoc">Get Pick 1 Location</button>
            </div>
        </div>
        <div class="Row">
            <div class="Column">Z3 - Place New Component</div>
            <input type="number" name="feeder_place_Z" class="Column" data-bind="value: settings.plugins.OpusPnP.feeder_place_Z">
            <button class="btn_basic" id="fetch_place_Z">Get Z3 Location</button>
        </div>
        <div class="Row">
            <div class="Column">Z0 - Return to Home</div>
            <input type="number" name="feeder_home_Z" class="Column" data-bind="value: settings.plugins.OpusPnP.feeder_home_Z">
            <button class="btn_basic" id="fetch_home_Z">Get Z0 Location</button>
        </div>
        <div class="Row">
            <div class="Column">Feeder Pitch (Offset)</div>
            <input type="number" name="feeder_offset" data-bind="value: settings.plugins.OpusPnP.feeder_offset">
        </div>
        <hr>
        <h3>Camera Position</h3>
        <div class="Row">
            <div class="Column">
                X&nbsp;
                <input type="number" name="cameraX" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.camera_X">
            </div>
            <div class="Column">
                Y&nbsp;
                <input type="number" name="cameraY" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.camera_Y">
            </div>
            <div class="Column">
                Z&nbsp;
                <input type="number" name="cameraZ" style="width:8vw" data-bind="value: settings.plugins.OpusPnP.camera_Z">
            </div>  
            <div class="Column">
                <button class="btn_basic" id="getCamLoc">Get Camera Position</button>
            </div>
        </div>
    </div>
</form>