<div id="control-OpusPnP-wrapper">
    <h1 style="text-align: center;"><u>Hy3DPnP Plugin</u></h1>
    <div class="control-opus-uart">
        <h1>UART Transceiver - Hy3DPnP</h1>
        <div class="Row">
            <div class="Column">Status</div>
            <div class="Column">Toggle Connection</div>
        </div>
        <div class="Row">
            <div class="Column">
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox" id="toggle_uart">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="Column">
                <button id="toggle_uart_connection" class="btn_basic">Toggle</button>
            </div>
        </div>
        <hr>
        <div>
            <label for="uart_message">UART Control Message</label>
            <select id="uart_message">
                <option value="100">100 - Valve OFF</option>
                <option value="101">101 - Valve ON</option>
                <option value="200">200 - Rig Home</option>
                <option value="201">201 - Rig Active</option>
                <option value="900">900 - Get Status</option>
            </select>
            <button id="send_uart_message" class="btn_basic">Send</button>
        </div>
        <div>
            <label for="angle_input">Rig Orientation</label>
            <input id="angle_input" type="number" placeholder="Degrees of Rotation" min="-360" max="360">
            <button id="send_angle_input" class="btn_basic">Send</button>
        </div>
    </div>
    <hr>
    <div id="control-OpusPnP-toggles">
        PnP Modules: Status
        <br>
        <div class="Row">
            <div class="Column">
                Actuator
            </div>
            <div class="Column">
                Rig
            </div>
        </div>
        <div class="Row">
            <div class="Column">
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox" id="toggle-actuator" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="Column">
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox" id="toggle-rig" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="control-opus-cv">
        <h1>Computer Vision Module - Hy3DPnP</h1>
    </div>
</div>
